head
    title Iron Tracker
body

    h2 Create Workout:
    form(action='/workouts/new', method='get')
        label(for='name') Workout Name
        input#name(type='text', name='name')
        label(for='sessions') # of sessions
        input#sessions(type='number', name='sessions')
        submit
            button Create Workout

    h2 Check Workouts Below

    for ex in exercises
        ul
            li #[strong #{ex.name}]
            li #{ex.day}
            li #{ex.reps} reps
            li #{ex.sets} sets
            li #{ex.weight} kg
            li Targeted muscle/area is: #{ex.muscle}
            



