include ../partials/header.pug

label(for='workoutName') Workout Name
input(type='text' name='workoutName')
label(for='daysOfWeek') Days of Week
input(type='text' name='daysOfWeek')


h2 Check Workouts Below

for ex in exercises
    ul
        li #[strong #{ex.name}]
        li #{ex.day}
        li #{ex.reps} reps
        li #{ex.sets} sets
        li #{ex.weight} kg
        li Targeted muscle/area is: #{ex.muscle}



include ../partials/footer.pug