include ../partials/header.pug

- let daysOfWeek = ['Monday','Tuesday','Wednesday','Thursday','Friday'];
- let exercisesPerDay = 8;


form(action='/workouts/new' method='post')

    label(for='workoutName') Workout Name
    input(type='text' name='workoutName')

    .exercises
        each day in daysOfWeek
            div(class=day class='day-block')
                h3 #{day}
                - for (i=0; i<exercisesPerDay; i++){
                    div(class='exercises-block' class=day + Number(i+1))
                        label(for='name') Name 
                        input#name(type='text' name=`${day}[${i+1}-name]`)
                        br
                        label(for='reps') Reps 
                        input#reps(type='number' name=`${day}[${i+1}-reps]`)
                        
                        label(for='sets') Sets 
                        input#sets(type='number' name=`${day}[${i+1}-sets]`)
                        
                        label(for='weight') Weight 
                        input#weight(type='number' name=`${day}[${i+1}-weight]`)
                -}
        submit
            button Create

    button#generate Generate Workout




include ../partials/footer.pug