head
    title Iron Tracker
body
    h1 Welcome to Iron Tracker
    p Click below to access Workouts

    a(href="/new") New Exercise

    - let exercise = exercises[1]

    ul
    for ex in exercises
        li #[strong #{ex.name}]
        li #{ex.name}
        li #{ex.reps} reps
        li #{ex.sets} sets
        li #{ex.weight} kg
        li Targeted muscle/area is: #{ex.muscle}



