include ../partials/header.pug

- let exercisesPerDay = 8;

- let daysArray = workout.days.split(',');
- let daysOfWeek = daysArray.map(day => day.replace(/[^A-Za-z]/g, ""));

//- CONFIGURE EXERCISE CREATION

form(action='/workouts/new' method='post')

    .exercises
        each day in daysOfWeek
            div(class=day class='day-block')
                h3 #{day}
                - for (i=1; i<=exercisesPerDay; i++){
                    div(class='exercises-block' class=day + Number(i+1))
                        //- ORDER NUMBER POSTED TO APP
                        input#order(type='hidden' name=`exercise[${day}][${i}][order]` value=i)
                        label(for='name') Name 
                        input#name(type='text' default='Squat' name=`exercise[${day}][${i}][name]`)
                        br
                        label(for='reps') Reps 
                        input#reps(type='number' default=8 name=`exercise[${day}][${i}][reps]`)
                        
                        label(for='sets') Sets 
                        input#sets(type='number' default=3 name=`exercise[${day}][${i}][sets]`)
                        
                        label(for='weight') Weight 
                        input#weight(type='number' default=50 name=`exercise[${day}][${i}][weight]`)
                -}
        submit
            button Create


include ../partials/footer.pug